@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grand Circus Coffee</h1>
    <p>Where coders come to crash, but your energy levels never have to.</p>
    <h5>Try our new ASPeaNET flavored Mocha today!</h5>
<br>
<br>
<br>
<hr />
</div>
<div style="display:flex; justify-content:center;">
    <a href="Menu.html; style=" font-size 60px;"><h1>View Our Menu</h1></a>
</div>